<% layout('layouts/boilerplate')%>
  <link rel="stylesheet" href="/css/stars.css">
  <div class="row">
    <div class="col-6">
      <div id="locationCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <% location.images.forEach((img, index)=> { %>
            <div class="carousel-item <%= index === 0 ? 'active' : ''%>">
              <img src="<%= img.url%>" class="w-100 d-block" alt="">
            </div>
            <% }) %>

        </div>
        <% if(location.images.length> 1) {%>
          <a class="carousel-control-prev" href="#locationCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#locationCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
          <% } %>
      </div>
      <div class="card mb-3">
        <!-- <img src="<%= location.image%>" class="card-img-top" alt="..."> -->
        <div class="card-body">
          <h5 class="card-title">
            <%= location.title%>
          </h5>
          <p class="card-text">
            <%= location.description%>
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item text-muted">
            <%= location.address %>
          </li>
          <li class="list-group-item">By: <%= location.poster.username %>
          </li>
          <li class="list-group-item">$<%= location.budget %>/night</li>
        </ul>
        <% if( currentUser && location.poster.equals(currentUser._id)) {%>
          <div class="card-body">
            <a class="card-link btn btn-info" href="/locations/<%=location._id%>/update">Update</a>
            <form class="d-inline" action="/locations/<%=location._id%>?_method=DELETE" method="POST">
              <button class="btn btn-danger">Remove</button>
            </form>
            <% } %>
          </div>
          <div class="card-footer text-muted">
            2 days ago
          </div>
      </div>

    </div>
    <div class="col-6">
      <% if(currentUser){ %>
        <h2>Leave a Review</h2>
        <form action="/locations/<%=location._id%>/reviews" method="POST" class="mb-3 needs-validation" novalidate>
          <fieldset class="starability-basic">
            <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked
              aria-label="No rating." />
            <input type="radio" id="first-rate1" name="review[rating]" value="1" />
            <label for="first-rate1" title="Terrible">1 star</label>
            <input type="radio" id="first-rate2" name="review[rating]" value="2" />
            <label for="first-rate2" title="Not good">2 stars</label>
            <input type="radio" id="first-rate3" name="review[rating]" value="3" />
            <label for="first-rate3" title="Average">3 stars</label>
            <input type="radio" id="first-rate4" name="review[rating]" value="4" />
            <label for="first-rate4" title="Very good">4 stars</label>
            <input type="radio" id="first-rate5" name="review[rating]" value="5" />
            <label for="first-rate5" title="Amazing">5 stars</label>
          </fieldset>
          <div class="mb-3">
            <label class="form-label" for="body">Review</label>
            <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3" required></textarea>
            <div class="valid-feedback">
              So far so good!
            </div>
          </div>
          <button class="btn btn-success">Submit</button>
        </form>
        <% } %>
          <% for(let review of location.reviews) { %>
            <div class="card mb-3">
              <div class="card-body">
                <h5 class="card-title">
                  <%= review.poster.username%>
                </h5>
                <p class="starability-result" data-rating="<%=review.rating%>">
                  Rated: <%= review.rating %> stars
                </p>
                <p class="card-text">Review: <%= review.body %>
                </p>
                <% if( currentUser && review.poster.equals(currentUser._id)) {%>
                  <form action="/locations/<%=location._id%>/reviews/<%=review._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-sm btn-danger">Remove</button>
                  </form>
                  <% } %>
              </div>
            </div>
            <% } %>
    </div>
  </div>