<% layout('layouts/boilerplate')%>
  <div class="row">
    <h1 class="text-center">Edit Location</h1>
    <div class="col-6 offset-3">
      <form action="/locations/<%=location._id%>?_method=PUT" method="POST" class="needs-validation"
        enctype="multipart/form-data" novalidate>
        <div class="mb-3">
          <label class="form-label" for="title">Title</label>
          <input class="form-control" type="text" id="title" name="location[title]" value="<%=location.title %>"
            required>
        </div>
        <div class="mb-3">
          <label class="form-label" for="address">Address</label>
          <input class="form-control" type="text" id="address" name="location[address]" value="<%=location.address %>"
            required>
        </div>
        <div class="mb-3">
          <label class="form-label" for="budget">Budget for Visiting</label>
          <div class="input-group">
            <span class="input-group-text" id="budget-label">$</span>
            <input type="text" class="form-control" id="budget" placeholder="0.00" aria-label="budget"
              aria-describedby="budget-label" name="location[budget]" value="<%=location.budget %>" required>
          </div>
        </div>
        <div class="mb-3">
          <div class="form-file custom-file">
            <input type="file" class="form-file-input" id="image" name="image" multiple>
            <label class="form-file-label" for="image">
              <span class="form-file-text custom-file-label">Image(s)</span>
              <span class="form-file-button">Choose</span>
            </label>
          </div>
        </div>
        <div class="mb-3">
          <% location.images.forEach(function(image, index) { %>
            <img src="<%=image.thumbnail %>" class="img-thumbnail" alt="<%=image.thumbnail %>">
            <div class="form-check-inline">
              <input type="checkbox" id="image-<%=index%>" name="deleteImages[]" value="<%=image.filename%>">
            </div>
            <label for="image-<%=index%>">Check to Delete</label>
            <% })%>
        </div>

        <div class="mb-3">
          <label class="form-label" for="description">Description</label>
          <textarea class="form-control" type="text" id="description" name="location[description]"
            required><%= location.description %></textarea>
        </div>
        <div class="mb-3">
          <button class="btn btn-info">Update Location</button>
        </div>
      </form>
      <a href="/locations/<%= location._id%>">Back To Location</a>

    </div>
  </div>